<div class="container-fluid row mt-3">
  <div class="col-lg-2 col-md-1 col-sm-0" ></div>

  <div class="col-lg-8 col-md-10 col-sm-12">
    
    <div class="wrap">
      <div class="search">
        <input type="text" class="searchTerm" placeholder="What are you looking for?">
        <button type="submit" class="searchButton">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>

    <div class="bg-secondary mt-4">
      
    </div>
  </div>

  <div class="col-lg-2 col-md-1 col-sm-0" ></div>
</div>
