<div>
  <% if @property.nil? == false%>
    <% @property.each do | property | %>
      <div class="card">
        <div class="card-header"> Rs <%= property.price%>/-</div>
        <div class="card-body">
          <h5 class="card-title">Area = <%= property.land_area%> sqft </h5>
          <h6 class="card-title">Nice flate with <%= property.floor%> floors </h6>
          <h6><%= property.address.city%></h6>
        </div>
        <div class="card-footer">
         <button class="btn btn-warning"> update </button>
         <button class="btn btn-danger"> delete </button>
        </div>
      </div><!-- End Card with header and footer -->
    <% end %>
  <% end %>
</div>