@import "bootstrap-sprockets";
@import "bootstrap";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #e5e5f7;
opacity: 1;
background-image:  linear-gradient(30deg, #daddf9 12%, transparent 12.5%, transparent 87%, #daddf9 87.5%, #daddf9), linear-gradient(150deg, #daddf9 12%, transparent 12.5%, transparent 87%, #daddf9 87.5%, #daddf9), linear-gradient(30deg, #daddf9 12%, transparent 12.5%, transparent 87%, #daddf9 87.5%, #daddf9), linear-gradient(150deg, #daddf9 12%, transparent 12.5%, transparent 87%, #daddf9 87.5%, #daddf9), linear-gradient(60deg, #daddf977 25%, transparent 25.5%, transparent 75%, #daddf977 75%, #daddf977), linear-gradient(60deg, #daddf977 25%, transparent 25.5%, transparent 75%, #daddf977 75%, #daddf977);
background-size: 20px 35px;
background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}


.search {
  width: 100%;
  position: relative;
  display: flex;
  height: 30px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 50px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg-secondary {

	height: 800px;
}

.opacity {
    opacity: 0.4;
}