
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to my rails website, <%= @user.name %></h1>
    <p>This is a trail of email</p><br>
    <p>To login to the site, just follow this link: <%= @url %>.</p><br>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>